@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-sans), system-ui, sans-serif;
  color: var(--foreground);
  background: var(--background);
}
